<div fxLayout="row wrap" fxLayoutAlign="space-around center">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Pesquisa por preço</mat-card-title>

    </mat-card-header>

    <mat-card-content>
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>De</mat-label>
        <input matInput type="text" name="from">
      </mat-form-field>
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Ate</mat-label>
        <input matInput type="text" name="to">
      </mat-form-field>
      <button mat-raised-button color="primary">Filtrar</button>
    </mat-card-content>

  </mat-card>
</div>
